/** @format */
.row.npsrow {
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.scoreGauge {
	position: relative;
	margin: 10px auto 20px auto;
	height: 235px;
	width: 100%;
}

.output {
	line-height: 35px;
	width: 60px;
	height: 30px;
	background-color: #808080;
	border-radius: 60px 60px 0 0;
	position: absolute;
	top: 135px;
	left: 170px;
	text-align: center;
}

.initialValue {
	border: none;
	border-bottom: 1px solid #007f7b;
	color: #007f7b;
	display: block;
	width: 3em;
	background-color: transparent;
	margin: 1em auto;
	outline: none;
	font-size: 16px;
	text-align: center;
}
/*SVG*/

.chart-gauge {
	width: 400px;
	margin: 10px auto;
}

.chart-color1 {
	fill: #ff3b3a;
}

.chart-color2 {
	fill: #ff654b;
}

.chart-color3 {
	fill: #ffc627;
}

.chart-color4 {
	fill: #89cf12;
}

.chart-color5 {
	fill: #00b106;
}

.needle,
.needle-center {
	fill: #464a4f;
}

.prose {
	text-align: center;
	font-family: sans-serif;
	color: #ababab;
}

li.referenceScore-item span.referenceCompanyName {
	font-size: 1em;
}

li.referenceScore-item progress,
progress[role] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background-size: auto;
	height: 100px;
	width: 100%;
}

.referenceScore-list {
	list-style: none;
	margin: 0;
	padding: 1em;
}

.referenceScore-item {
	margin-bottom: 1em;
	position: relative;
}

.referenceScore-item progress {
	max-height: 32px;
}

.referenceScore-item span {
	color: #fff;
	left: 1em;
	line-height: 0.5;
	position: absolute;
	top: 1em;
}
/* For Firefox */
.referenceScore-item progress::-moz-progress-bar {
	background: #464a4f;
}

/* For Chrome or Safari */
.referenceScore-item progress::-webkit-progress-value {
	background: #464a4f;
}

/* For IE10 */
.referenceScore-item progress {
	background: #ababab;
}

.referenceScore-item.us span.referenceCompany.score {
	right: 1em;
	left: unset;
	font-size: 1em;
}
.referenceScore-item.us progress::-webkit-progress-value {
	background: #007f7b;
}

.referenceScore-item progress::-moz-progress-bar {
	background: #007f7b;
}

.referenceScore-item.item-1 progress::-webkit-progress-value {
	background: #ff9e2c;
}

.referenceScore-item.item-1 progress::-moz-progress-bar {
	background: #ff9e2c;
}

.referenceScore-item.item-2 progress::-webkit-progress-value {
	background: #4ecdc4;
}

.referenceScore-item.item-2 progress::-moz-progress-bar {
	background: #4ecdc4;
}

.referenceScore-item.item-3 progress::-webkit-progress-value {
	background: #ff6b6b;
}

.referenceScore-item.item-3 progress::-moz-progress-bar {
	background: #ff6b6b;
}

@-webkit-keyframes bar-fill {
	0% {
		width: 0;
	}
}
@keyframes bar-fill {
	0% {
		width: 0;
	}
}

.npsawards {
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.npsaward {
	display: inline-flex;
	width: 100%;
	max-width: 200px;
	margin: 4%;
	padding: 0;
	align-items: center;
	justify-content: center;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
}

.npsaward img {
	margin: 0px;
}
